<div class="standart-theme">
  <h1>
    Редактирование книжной серии
  </h1>

  <form [formGroup]="bookSeriesForm" (ngSubmit)="onSubmit()">
    <button pButton type="submit"
            [disabled]="bookSeriesForm.pristine" class="ui-button-success" label="Сохранить"></button> &nbsp;
    <button pButton type="button" (click)="revert()"
            [disabled]="bookSeriesForm.pristine" class="ui-button-danger" label="Отмена"></button>
    <div class="form-group">
      <label class="field-label">Название:
        <input pInputText class="form-control" formControlName="name">
      </label>
      <label class="field-label">Издательство:
        <p-autoComplete formControlName="publisher"
                        [suggestions]="publisherSearchResult"
                        (completeMethod)="searchPublisher($event)"
                        [immutable]="false"
                        styleClass="formControl"
                        [dropdown]="true"
                        field="name"></p-autoComplete>
      </label>
    </div>
  </form>
</div>
