<div class="cart-total-items">
  <div class="cart-total-item">Общая сумма:</div>
  <div class="cart-total-item" *ngIf="discountSum">Общая сумма:</div>
  <div class="cart-total-item">Общий вес:</div>
  <div class="cart-total-item-bold">Итого без доставки:</div>
</div>

<div class="cart-total-items-values">
  <div class="cart-total-item">{{totalSum}} <i class="fa fa-rouble"></i></div>
  <div class="cart-total-item" *ngIf="discountSum">{{discountSum}} <i class="fa fa-rouble"></i></div>
  <div class="cart-total-item">{{totalWeight}}</div>
  <div class="cart-total-item-bold">{{totalWithoutDelivery}} <i class="fa fa-rouble"></i></div>
</div>

<div class="cart-purchase-control-container">
  <button pButton type="button" label="Оформить заказ" routerLink="/order">
  </button>
</div>
