.cart-total-items {
  display: inline-block;
  width: 170px;
  margin-right: 10px;
}

.cart-total-items-values {
  display: inline-block;
  width: 110px;
  margin-right: 10px;
}

.cart-total-item-bold {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cart-purchase-control-container {
  margin-bottom: 15px;
}