@import "../../../app.styles.scss";

.header-container {
  background-color: #26A9E0;
  height: 20px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #69c3e8;
  padding: 3px;
  .menu-item {
    cursor: pointer;
    margin: 0 5px;
  }
  .pull-right {
    float: right;
  }
}
