<div class="standart-theme">
  <p-table [value]="authors$ | async">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-plus" style="margin:4px 4px 0 0; cursor: pointer;" routerLink="/admin/author/create"></i>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:30%">Фамилия</th>
        <th style="width:30%">Имя</th>
        <th style="width:30%">Отчество</th>
        <th style="width:10%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-author>
      <tr>
        <td>{{author.name.last}}</td>
        <td>{{author.name.first}}</td>
        <td>{{author.name.middle}}</td>
        <td class="edit-controls">
          <i class="fa fa-edit" routerLink="/admin/author/edit/{{author.id}}"></i>
          &nbsp;
          <i class="fa fa-trash delete-control" (click)="deleteAuthor(author.id)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
