<div class="standart-theme">
  <p-table [value]="books$ | async">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-plus" style="margin:4px 4px 0 0; cursor: pointer;" routerLink="/admin/book/create"></i>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%">Id</th>
        <th style="width:20%">Название</th>
        <th style="width:15%">Авторы</th>
        <th style="width:15%">Издательство</th>
        <th style="width:15%">ISBN</th>
        <th style="width:7%">Год издания</th>
        <th style="width:8%">Остаток</th>
        <th style="width:8%">Цена</th>
        <th style="width:7%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{getAuthorsAsString(book.authors)}}</td>
        <td>{{book.publisher ? book.publisher.name: ''}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.publicationYear}}</td>
        <td>{{book.inStock}}</td>
        <td>{{book.price}} р.</td>
        <td class="edit-controls">
          <i class="fa fa-edit" routerLink="/admin/book/edit/{{book.id}}"></i>
          &nbsp;
          <i class="fa fa-trash delete-control" (click)="deleteBook(book.id)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
