<div class="container standart-theme">
  <h1 class="order-header">
    Оформление заказа
  </h1>
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="contact-info titlebox">
      <div class="titlebox-icon">
        <span>1</span>
      </div>
      <div class="titlebox-content">
        <div>
          <i class="fa fa-phone"></i>
          <span>Контактная информация</span>
        </div>
      </div>
    </div>
    <label class="field-label">Фамилия:
      <input pInputText class="form-control" formControlName="lastName" autocomplete="family-name">
    </label>
    <label class="field-label">Имя:
      <input pInputText class="form-control" formControlName="firstName" autocomplete="given-name">
    </label>
    <label class="field-label">Отчество:
      <input pInputText class="form-control" formControlName="middleName" autocomplete="additional-name">
    </label>
    <label class="field-label">Электронная почта:
      <input pInputText class="form-control" formControlName="email" autocomplete="email">
    </label>
    <label class="field-label">Телефон:
      <p-inputMask class="form-control"
                   mask="+7(999) 999-9999"
                   placeholder="+7(999) 999-9999"
                   formControlName="phoneNumber"
                   autocomplete="tel"
                   unmask="true">
      </p-inputMask>
    </label>
    <div class="shipping-info titlebox">
      <div class="titlebox-icon">
        <span>2</span>
      </div>
      <div class="titlebox-content">
        <div>
          <i class="fa fa-truck"></i>
          <span>Адрес доставки</span>
        </div>
      </div>
    </div>
    <label class="field-label">Страна:
      <input pInputText class="form-control" formControlName="country" autocomplete="shipping country">
    </label>
    <label class="field-label">Город (населённый пункт):
      <input pInputText class="form-control" formControlName="city" autocomplete="shipping locality">
    </label>
    <label class="field-label">Улица:
      <input pInputText class="form-control" formControlName="street" autocomplete="shipping street-address">
    </label>
    <label class="field-label">Почтовый индекс:
      <input pInputText class="form-control" type="number" formControlName="index" autocomplete="shipping postal-code">
    </label>
    <div class="payment-info titlebox">
      <div class="titlebox-icon">
        <span>3</span>
      </div>
      <div class="titlebox-content">
        <div>
          <i class="fa fa-credit-card"></i>
          <span>Оплата</span>
        </div>
      </div>
    </div>
    <div class="order-info">
      <div class="order-info-title">Детали заказа</div>
      <app-order-total></app-order-total>
    </div>
    <button pButton type="submit"
            [disabled]="orderForm.pristine || !orderForm.valid"
            class="ui-button-success order-button"
            label="Завершить оформление заказа">
    </button>
  </form>
</div>
