@import "../../../../../app.styles.scss";

.order-total {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  @include respond-to(medium-screens) {
    margin-right: 50px;
  }
  @include respond-to(wide-screens) {
    margin-right: 20px;
  }
}

.clear {
  clear: both;
}
.personal-data-container {
  display: flex;
  margin: 10px 5px;
  .personal-data-block {
    width: 220px;
    .short-personal-label {
      color: gray;
      font-size: 12px;
      font-weight: 400;
    }

    .short-personal-content {
      font-size: 15px;
      color: #333;
    }
  }
}

