@import "../../../../../app.styles.scss";

.order-total {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  @include respond-to(medium-screens) {
    margin-right: 50px;
  }
  @include respond-to(wide-screens) {
    margin-right: 20px;
  }
}

.clear {
  clear: both;
}
