@import "../../cart.styles";

.cart-container {
  margin: 0 auto;
  width: $small;
  @include respond-to(handhelds) { width: $small ;}
  @include respond-to(medium-screens) { width: $small; }
  @include respond-to(wide-screens) { width: $large; }
}

.cart-header {
  margin: 15px 5px 15px 5px;
}

.check-all {
  margin: 15px 5px 15px 5px;
}

.cart-items-header {
  display: block;
  height: 30px;
  border-bottom: 1px solid #b3b3b3;
  color: grey;
  font-size: 12px;
  line-height: 30px;
  .cart-items-header-product {
    width: 550px;
    margin-left: 35px + $checkboxWidth;
    text-align: left;
    display: inline-block;
    @include respond-to(medium-screens) {
      width: $productWidthSmall - $checkboxWidth;
    }
    @include respond-to(wide-screens) {
      width: $productWidthLarge - $checkboxWidth;
    }
  }
  .cart-items-header-count {
    width: $countWidth;
    text-align: left;
    display: inline-block;
  }
  .cart-items-header-weight {
    width: $weightWidth;
    display: inline-block;
  }
  .cart-items-header-total {
    width: $totalWidth;
    display: inline-block;
  }
}