<div class="cart-container standart-theme container" *ngIf="(itemsCount$ | async) > 0 else emptyCart">
  <div class="cart-header">
    <span>Корзина: {{itemsCount$ | async}}</span>
  </div>
  <div class="check-all">
    <p-checkbox label="Выбрать всё" (onChange)="selectAll($event)"></p-checkbox>
  </div>
  <div class="cart-items-header">
    <div class="cart-items-header-product">Товар</div>
    <div class="cart-items-header-count">Количество</div>
    <div class="cart-items-header-weight">Вес</div>
    <div class="cart-items-header-total">Сумма</div>
  </div>
  <div class="cart-items">
    <div *ngFor="let cartItem of cartItems$ | async" class="cart-item">
      <app-cart-item [item]="cartItem" (checkedChange)="checkItem($event)" [checked]="isItemSelected(cartItem)"></app-cart-item>
    </div>
  </div>
  <div class="cart-total">
    <app-cart-total></app-cart-total>
  </div>
</div>
<app-cart-footer-controls *ngIf="hasSelectedItems()" [selectedItems]="selectedItems" (clearSelections)="clearSelections()"></app-cart-footer-controls>
<ng-template #emptyCart>
  <div class="cart-container standart-theme container">
    <div class="cart-header">
      Корзина пуста
    </div>
  </div>
</ng-template>