<div class="container standart-theme">
  <div class="order-success-wrap">
    <div class="order-success">
      <div class="order-success-icon"></div>
      <div class="order-success-main">
        <div class="order-success-title">
          Ваш заказ №{{id}} успешно сформирован
        </div>
        <div class="order-success-info">
          Для завершения оформления заказа осталось произвести оплату.
          <br>
          <br>Пожалуйста, после подтверждения оплаты, дождитесь автоматического
          <br>возврата на сайт.
          <br>
          <br>Вы можете оплатить его сейчас или в течение 3-х дней через
          <a class="link" routerLink="/profile/orders">Личный кабинет.
            <br>
            <br>
          </a>Неоплаченный заказ автоматически отменяется.
        </div>
      </div>
    </div>
  </div>
</div>
