<div class="order-total-items">
  <div class="order-total-item">Количество товаров:</div>
  <div class="order-total-item">Общая сумма:</div>
  <div class="order-total-item" *ngIf="discountSum">Сумма скидки:</div>
  <div class="order-total-item-bold">Итого без доставки:</div>
</div>

<div class="order-total-items-values">
  <div class="order-total-item">{{itemsCount}}</div>
  <div class="order-total-item">{{totalSum}} <i class="fa fa-rouble"></i></div>
  <div class="order-total-item" *ngIf="discountSum">{{discountSum}} <i class="fa fa-rouble"></i></div>
  <div class="order-total-item-bold">{{totalWithoutDelivery}} <i class="fa fa-rouble"></i></div>
</div>
