<div class="ui-g">
  <div class="ui-g-2 header-logo">
    <i class="fa fa-book"></i>
    <span>TuxShop</span>
  </div>
  <div class="ui-g-8 ui-fluid search-container">
    <div class="ui-inputgroup">
      <input type="text " pInputText placeholder="Поиск..." class="search-input">
      <button pButton type="button " icon="fa-search " class="ui-button-secondary search-button"></button>
    </div>
  </div>
  <div class="ui-g-2">
    <i class="fa fa-shopping-cart header-logo"></i>
    <app-cart-logo></app-cart-logo>
    <span class="cart-label">Корзина</span>
  </div>
</div>