<div class="footer standart-theme">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-section">
        <p class="footer-section-title">
          <span class="books-icon books-icon-white"></span>
          В наших магазинах
        </p>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="">Адреса магазинов</a>
          </li>
          <li class="footer-list-item">
            <a href="">Услуги</a>
          </li>
          <li class="footer-list-item">
            <a href="">Наши партнёры</a>
          </li>
          <li class="footer-list-item">
            <a href="">О компании</a>
          </li>
          <li class="footer-list-item">
            <a href="">Хотите у нас работать?</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <p class="footer-section-title">
          <i class="fa fa-shopping-cart footer-cart-icon"></i>
          В интернет-магазине
        </p>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="">Доставка и оплата</a>
          </li>
          <li class="footer-list-item">
            <a href="">Акции</a>
          </li>
          <li class="footer-list-item">
            <a href="">Книги</a>
          </li>
          <li class="footer-list-item">
            <a href="">Сувениры</a>
          </li>
          <li class="footer-list-item">
            <a href="">Правила продажи</a>
          </li>
          <li class="footer-list-item">
            <a href="">Политика конфиденциальности</a>
          </li>
        </ul>
      </div>
      <div class="footer-section footer-section-subscribe">
        <p class="footer-section-title">
          <i class="fa fa-envelope footer-cart-icon"></i>
          Подписка на новости
        </p>
        <div class="subscribe">
          <p class="subscribe-title">Будьте в курсе наших акций</p>
          <form class="subscribe-form">
            <input type="text" class="subscribe-input" type="text" placeholder="E-mail">
            <button class="subscribe-button">Подписаться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
