<div class="standart-theme header-container">
  <div class="container header-inner-container">
    <div class="ui-g">
      <div class="ui-g-2 header-logo">
        <i class="fa fa-book"></i>
        <span>TuxShop</span>
      </div>
      <div class="ui-g-8 ui-fluid search-container">
        <div class="ui-inputgroup">
          <input type="text" pInputText placeholder="Поиск..." class="search-input"
                 [(ngModel)]="searchValue"
                 (input)="search($event)"
                 (keyup.enter)="goToSearch(searchValue)">
          <button class="ui-button-secondary search-button" (click)="goToSearch(searchValue)">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="ui-g-2">
        <div class="cart-logo-container">
          <app-cart-logo></app-cart-logo>
        </div>
      </div>
    </div>
  </div>
</div>
