@import "../../../../../app.styles.scss";

.profile-menu {
  background: #f2f2f2;
  padding: 20px;
  list-style-type: none;
  margin: 0 0 40px;
  .profile-menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .profile-menu-list-item {
      font-weight: 400;
      color: #333;
      text-decoration: none;
      font-size: 16px;
      padding: 5px 0;
      cursor: pointer;
      .active-item {
        font-weight: 700;
        color: #333;
        .profile-icon {
          color: #333 !important;
        }
      }
      &:hover {
        font-weight: 700;
        color: #333;
        .profile-menu-link {
          .profile-icon {
            color: #333;
          }
        }
      }
      &:last-of-type {
        padding-left: 30px;
      }
      .profile-menu-link {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 24px;
        text-decoration: none;
        vertical-align: middle;
        color: inherit;
        .profile-icon {
          font-size: 24px;
          color: #ccc;
          padding-right: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}
