.book-cover-img {
  text-align: center;
  img {
    width: 146px;
  }
}

.book-card {
  margin: 2px;
  text-align: center;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.book-price {
  margin-top: 2px;
}

.add-to-cart-button-container {
  margin-bottom: 5px;
}
