@import "../../cart.styles";

.cart-items {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #b3b3b3;
  color: grey;
  line-height: 30px;
  margin: 0 auto;
  .cart-items-checkbox {
    display: inline-block;
    align-self: center;
  }
  .cart-items-product {
    width: 550px;
    margin-left: 35px;
    text-align: left;
    display: inline-block;
    @include respond-to(medium-screens) {
      width: $productWidthSmall;
    }
    @include respond-to(wide-screens) {
      width: $productWidthLarge;
    }
  }
  .cart-items-count {
    width: $countWidth;
    text-align: left;
    display: inline-block;
  }
  .cart-items-weight {
    width: $weightWidth;
    display: inline-block;
  }
  .cart-items-total {
    width: $totalWidth;
    display: inline-block;
  }
}