<div class="cart-items">
  <div class="cart-items-checkbox">
    <p-checkbox [(ngModel)]="checked" binary="true" (onChange)="checkItem()"></p-checkbox>
  </div>
  <div class="cart-items-product">
    <div class="cart-items-product-img-container">
      <a href="/catalog/book/{{item.book.id}}">
        <img src="{{item.book.coverUrl}}" class="cart-items-product-img" />
      </a>
    </div>
    <div class="cart-items-product-title-container">
      <div class="cart-items-product-title">
        <span class="cart-items-product-book-title">
          {{item.book.title}}
        </span>
        <span>
          {{getAuthorsAsString(item.book.authors)}}
        </span>
      </div>
    </div>
  </div>
  <div class="cart-items-count">
    <div class="cart-items-count-control-container">
      <div class="cart-items-count-change-control" (click)="decrementCount()">
        -
      </div>
      <input type="text" pInputText [(ngModel)]="countItem" class="cart-items-count-input" (input)="changeCountItem($event)" />
      <div class="cart-items-count-change-control" (click)="incrementCount()">
        +
      </div>
    </div>
    <div *ngIf="validationShow" class="count-validation-violation">
      Доступно для покупки: {{item.book.inStock}}
    </div>
  </div>
  <div class="cart-items-weight"></div>
  <div class="cart-items-total">
    {{item.book.price * countItem}}
  </div>
</div>
