<div class="container standart-theme">
  <h1>
    Редактирование книги
  </h1>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <button pButton type="submit"
            [disabled]="bookForm.pristine" class="ui-button-success" label="Сохранить"></button> &nbsp;
    <button pButton type="button" (click)="revert()"
            [disabled]="bookForm.pristine" class="ui-button-danger" label="Отмена"></button>
    <div class="form-group">
      <label class="center-block">Название:
        <input pInputText class="form-control" formControlName="title">
      </label>
      <label class="center-block">Авторы:
        <p-autoComplete formControlName="authors"
                        [suggestions]="authorsSearchResult"
                        (completeMethod)="searchAuthors($event)"
                        [multiple]="true"
                        [immutable]="false"
                        field="fullname"></p-autoComplete>
      </label>
      <label class="center-block">BBK:
        <input pInputText class="form-control" formControlName="bbk">
      </label>
      <label class="center-block">ISBN:
        <input pInputText class="form-control" formControlName="isbn">
      </label>
      <label class="center-block">UDC:
        <input pInputText class="form-control" formControlName="udc">
      </label>
      <label class="center-block">Тираж:
        <input type="number" pInputText class="form-control" formControlName="circulation">
      </label>
      <label class="center-block">Тип обложки:
        <input pInputText class="form-control" formControlName="coverType">
      </label>
      <label class="center-block">Формат:
        <input pInputText class="form-control" formControlName="dimensions">
      </label>
      <label class="center-block">В наличии:
        <input type="number" pInputText class="form-control" formControlName="inStock">
      </label>
      <label class="center-block">Количество страниц:
        <input type="number" pInputText class="form-control" formControlName="pageCount">
      </label>
      <label class="center-block">Цена:
        <input type="number" pInputText class="form-control" formControlName="price">
      </label>
      <label class="center-block">Вес:
        <input type="number" pInputText class="form-control" formControlName="weight">
      </label>
      <label class="center-block">Год издания:
        <input pInputText class="form-control" formControlName="publicationYear">
      </label>
      <label class="center-block">Артикул:
        <input type="number" pInputText class="form-control" formControlName="articul">
      </label>
      <label class="center-block">Возрастное ограничение:
        <input pInputText class="form-control" formControlName="ageLimit">
      </label>
    </div>
  </form>
</div>
