@import "../../../app.styles.scss";

.nav-container {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  opacity: 1;
}

.nav-item {
  display: inline-block;
  padding: 0 20px 0 0;
  height: 100%;
  &>a {
    font-size: 15px;
    color: #000;
    line-height: 33px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    background-color: #fff;
    padding: 0;
    vertical-align: middle;
  }
  &:hover .catalog-list {
    visibility: visible;
    opacity: 1;
  }
  &:hover>a {
    color: #26A9E0;
  }
  .catalog-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 36px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    margin: 0;
    // padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    z-index: 101;
    width: 200px;
    .sub-nav-items {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      .sub-nav-item {
        padding: 10px;
        border: 1px solid #ddd;
        border-left: 2px solid #26A9E0;
        border-bottom: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .menu-item-chevron {
          color: #aaa;
          font-size: 8px;
          vertical-align: middle;
          float: right;
          height: 100%;
          margin-left: 10px;
        }
        &>a {
          text-decoration: none;
          font-size: 15px;
          color: #000;
        }
        &:hover>a {
          position: relative;
          color: #26A9E0;
        }
        &:hover .sub-catalog-list {
          visibility: visible;
          opacity: 1;
        }
        &:hover .menu-item-chevron {
          color: #26A9E0;
          font-weight: bold;
        }
        .sub-catalog-list {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          // top: 0;
          left: 200px;
          background-color: #fff;
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
          margin: 0;
          padding: 10px;
          box-sizing: border-box;
          display: inline-block;
          z-index: 102;
          width: 600px;
          .sub-sub-nav-items {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            .sub-sub-nav-item {
              margin-bottom: 10px;
              &>a {
                text-decoration: none;
                font-size: 15px;
                color: #000;
                margin: 10px;
              }
              &:hover>a {
                position: relative;
                color: #26A9E0;
              }
            }
          }
        }
      }
    }
  }
}

.nav-item_popup {
  position: relative;
  &:hover>a {
    color: #26A9E0;
  }
  &>a {
    font-weight: bold;
  }
}

.nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 35px;
}
