<div class="book-card standart-theme">
  <div class="book-cover-img">
    <a (click)="redirectToBookDetail(book.id)">
      <img src="{{book.coverUrl}}" />
    </a>
  </div>
  <div class="book-title">{{(book.title.length > 40 ? (book.title | slice:0:30) + '...' : book.title)}}</div>
  <div *ngFor="let author of book.authors">
    {{getSurnameAndInitials(author)}}
  </div>
  <div class="book-price">Цена: {{book.price}}</div>
  <div class="add-to-cart-button-container">
    <button pButton type="button"
            label="В корзину"
            (click)="addToCart()"
            *ngIf="!($inCart | async)"></button>
    <button pButton type="button"
            label="В корзинe"
            icon="fa fa-check"
            class="ui-button-success"
            (click)="redirectToCart()"
            *ngIf="$inCart | async"></button>
  </div>
</div>
