.order-total-items {
  display: inline-block;
  width: 170px;
  margin-right: 10px;
}

.order-total-items-values {
  display: inline-block;
  width: 90px;
  margin-right: 10px;
}

.order-total-item-bold {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.order-purchase-control-container {
  margin-bottom: 15px;
}
