.book-list-container {
  padding: 5px;
}

.book-list-item {
  display: inline-block;
  margin: 10px 15px 0 10px;
  width: 150px;
  height: 372px;
  border-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
  vertical-align: top;
}
