<div class="profile standart-theme">
  <h1 class="profile-header">
    <i class="fa fa-user"></i>
    Мой профиль
  </h1>
  <h2 class="profile-subheader">
    <i class="fa fa-fw fa-id-badge"></i>
    Личные данные
  </h2>
  <div class="personal-data-container">
    <div class="short-personal-label" *ngIf="user.userName">
      Логин
    </div>
    <div class="short-personal-content">
      {{user.userName}}
    </div>
    <div class="short-personal-label" *ngIf="user.firstName">
      Имя
    </div>
    <div class="short-personal-content">
      {{user.firstName}}
    </div>
    <div class="short-personal-label" *ngIf="user.lastName">
      Фамилия
    </div>
    <div class="short-personal-content">
      {{user.lastName}}
    </div>
    <div class="short-personal-label" *ngIf="user.email">
      Эл. почта
    </div>
    <div class="short-personal-content">
      {{user.email}}
    </div>
  </div>
  <h2 class="profile-subheader">
    <i class="fa fa-fw fa-shopping-cart"></i>
    Активные заказы
  </h2>
  <p-table [value]="orders$ | async" *ngIf="(orders$ | async)?.length !== 0">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%">Заказ №</th>
        <th style="width:25%">Статус</th>
        <th style="width:25%">К оплате</th>
        <th style="width:25%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.total}}</td>
        <td class="edit-controls">
          <a class="info-order-link" (click)="cancelOrder(order.id)">Отменить заказ</a>
          <a class="info-order-link" routerLink="/profile/order/detail/{{order.id}}">Подробнее</a>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <span *ngIf="(orders$ | async)?.length === 0">Нет активных заказов</span>
</div>
